
.text-link {
    color: inherit;
    text-decoration: inherit;
    font-family: fantasy;
  }

.routerBtn{
    width: 33%;
    background-color: springgreen;
    border: 1px solid black;
    border-radius: 10px;

}
.title{
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    margin: 0;
    padding: 0;
    padding-bottom: 20px;
}