
.routerBtn{
    width: 33%;
    background-color: greenyellow;
    border: 1px solid black;
    border-radius: 10px;
    font-weight: bold;
}
.routerBtn:hover {
    background-color: green  ;
 }
 .routerBtn:active {
    background-color: green  ;
    box-shadow: 0 5px gray  ;
    transform: translateY(2px) ;
 }
.title{
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    margin: 0;
    padding: 0;
    padding-bottom: 20px;
}